<ion-header translucent="true">
  <ion-toolbar class="lux-home-header">
    <ion-title>Detalhes</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/favorites" class="favorite-btn">
        Favoritos
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="book">
  <div class="details-container">

    <div>

   
    <div class="cover-wrapper">
      <img [src]="book.cover" />
    </div>

    <h2 class="title">{{ book.originalTitle }}</h2>

     <div class="meta">

      <div class="meta-item">
        <span>Publicado</span>
        <strong>{{ book.releaseDate }}</strong>
      </div>

      <div class="meta-divider"></div>

      <div class="meta-item">
        <span>Páginas</span>
        <strong>{{ book.pages }}</strong>
      </div>

    </div>

     </div>
   
     <div>

    <p class="description">
      {{ book.description }}
    </p>


    <div class="actions">

      <ion-button class="primary-action" (click)="addFavorite()">

        Adicionar à favoritos
      </ion-button>

      <ion-button class="secondary-action" (click)="goHome()">
        Voltar à Home
      </ion-button>

    </div>
    </div>

  </div>
</ion-content>
