ion-thumbnail {
  --size: 60px;
  --border-radius: 8px;

  img {
    object-fit: cover;
  }
}

.clickable {
  cursor: pointer;
}

ion-item {
  margin-bottom: 8px;
  border-radius: 10px;
  --background: #1a1717;
}

.empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #777;

  ion-icon {
    font-size: 48px;
    margin-bottom: 12px;
  }

  p {
    font-size: 16px;
  }
}
