<ion-header translucent="true">
  <ion-toolbar class="lux-home-header">
    <ion-title>favoritos</ion-title>
     <ion-buttons slot="end">
      <ion-button routerLink="/home" class="favorite-btn">
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="favorites-container">

    <ion-list *ngIf="favorites.length > 0">
      <ion-item *ngFor="let book of favorites; let i = index" lines="none">

        <ion-thumbnail slot="start">
          <img [src]="book.cover" />
        </ion-thumbnail>

        <ion-label (click)="openDetails(book)" class="clickable">
          <h2>{{ book.originalTitle }}</h2>
          <p>Livro {{ book.number }}</p>
        </ion-label>

        <ion-button
          fill="clear"
          color="danger"
          slot="end"
          (click)="remove(i)"
        >
          Remover
        </ion-button>

      </ion-item>
    </ion-list>

    <div class="empty" *ngIf="favorites.length === 0">
      <p>Lista de favoritos esta vazia</p>
    </div>

  </div>
</ion-content>
