<ion-header translucent="true">
  <ion-toolbar class="lux-home-header">
    <ion-title>Home</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/favorites" class="favorite-btn">
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- LOADING -->
  <div class="center-container" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <!-- CONTEÚDO -->
  <div class="home-container" *ngIf="!loading && book">

    <div class="section-label">
      Destaque da Semana
    </div>

    <div class="featured-card" (click)="goToDetails()">
      <div class="cover-wrapper">
        <img [src]="book.cover" />
      </div>

      <div class="book-info">
        <h2>Livro {{ book.number }}</h2>
        <p>{{ book.originalTitle }}</p>
      </div>
    </div>

  </div>

</ion-content>
